.caixa {
    display: inline-block;
    border: 2px solid black;
}

.linha {
    width: 100%;
    border: 2px solid blue;
}

.item {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid red;
}