.matriz {
    display: inline-block;
    border: 2px solid black;
}

.linha {
    width: 100%;
    border: 2px solid blue;
}

.item {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

.conteudo {
    visibility: hidden;
}

.modal-caixa {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}

.mod {
    background-color: azure;
    width: 45%;
    min-width: 500px;
    text-align: center;
    padding: 100px;
    border: 20px black solid;
    position: relative;
}

#Fechar {
    position: absolute;
    right: 10px;
    bottom: 4px;
}

.modal-caixa.mostrar {
    display: flex;
}

body {
    margin: 0px;
}